<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace ="base/common::header">
<meta charset="utf-8" />
<title>import data to bioIDE  </title>

</head>

<body>
<div th:include="base/common::menu"></div>
<div class="container">
<div class="row"><h2><a href="druid" style="color:black" target="_blank"> druid</a></h2></div>

<div class="row"><h2><a href="guest/hello" style="color:black"> hello</a></h2></div>


<div class="row"><h2><a href="guest/testController_test1" style="color:black"> test1</a></h2></div>


<div class="row"><h2><a href="/guest/SpeciesCatalogueController_addSeq" style="color:black"> 给杨定名录taxon加序号</a></h2></div>

<div class="row"><h2><a href="/importByExcel" style="color:black"> 2019鸟类数据追加</a></h2></div>


<div class="row"><h2><a href="fishController_addFish" style="color:black"> 2019鱼类名录</a></h2></div>

</div>
</body>	
<div th:include="base/common::javascript"></div>
</html>