<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace ="base/common::header">
<meta charset="utf-8" />
<title>import data to bioIDE  </title>

</head>

<body>
<div th:include="base/common::menu"></div>
<div class="container">
<div class="row"><h2><a href="druid" style="color:black" target="_blank"> druid</a></h2></div>

<div class="row"><h2><a href="guest/hello" style="color:black"> hello</a></h2></div>


<div class="row"><h2><a href="guest/testController_test1" style="color:black"> test1</a></h2></div>


<div class="row"><h2><a href="/guest/SpeciesCatalogueController_addSeq" style="color:black"> 给杨定名录taxon加序号</a></h2></div>
<hr>
<div class="row"><h2><a href="/importByExcel" style="color:black"> 《中国鸟类分类与分布名录第三版 》2019鸟类数据追加，读取Excel</a></h2></div>
<div class="row"><h2><a href="/birdAddDataController_countCitationByTaxon" style="color:black"> 《中国鸟类分类与分布名录第三版 》2019鸟类（2019 Bird）引证数据统计</a></h2></div>
<div class="row"><h2><a href="birdAddDataController_updateCitationStrBySciName" style="color:black"> 《中国鸟类分类与分布名录第三版 》更新2019鸟类名录引证：根据引证原文生成参考文献，没有引证的从旧采集系统导入</a></h2></div>

<div class="row"><h2><a href="birdAddDataController_exportCitationExcelOfDataSet" style="color:black"> 《中国鸟类分类与分布名录第三版 》导出所有的异名引证Excel</a></h2></div>

<div class="row"><h2><a href="birdAddDataController_exportToWord" style="color:black"> 《中国鸟类分类与分布名录第三版 》导出word</a></h2></div>

<div class="row"><h2><a href="birdAddDataController_orderByWord" style="color:black"> 《中国鸟类分类与分布名录第三版 》根据word排序</a></h2></div>


<hr>


</div>
</body>	
<div th:include="base/common::javascript"></div>
</html>